services:
  events-db:
    image: mysql:latest
    container_name: events-db
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=events_password
      - MYSQL_USER=events_user
      - MYSQL_DATABASE=events_db
      - MYSQL_PASSWORD=events_password
    ports:
      - "3306:3306"
    volumes:
      - events_data:/var/lib/mysql

  venue-db:
    image: mysql:latest
    container_name: venue-db
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=venue_password
      - MYSQL_USER=venue_user
      - MYSQL_DATABASE=venue_db
      - MYSQL_PASSWORD=venue_password
    ports:
      - "3307:3306"
    volumes:
      - venue_data:/var/lib/mysql

  user-db:
    image: mysql:latest
    container_name: user-db
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=user_password
      - MYSQL_USER=user_user
      - MYSQL_DATABASE=user_db
      - MYSQL_PASSWORD=user_password
    ports:
      - "3308:3306"
    volumes:
      - user_data:/var/lib/mysql

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    hostname: zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 3000

  kafka-broker:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka-broker
    ports:
      - "9092:9092"
      - "29092:29092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-broker:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest
    ports:
      - "8084:8080"
    depends_on:
      - kafka-broker
    environment:
      KAFKA_CLUSTERS_NAME: local
      KAFKA_CLUSTERS_BOOTSTRAPSERVERS: kafka-broker:29092
      DYNAMIC_CONFIG_ENABLED: 'true'

  kafka-schema-registry:
    image: confluentinc/cp-schema-registry:7.5.0
    hostname: kafka-schema-registry
    container_name: kafka-schema-registry
    depends_on:
      - kafka-broker
    ports:
      - "8083:8081"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: kafka-schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'kafka-broker:29092'
      SCHEMA_REGISTRY_LISTENERS: http://kafka-schema-registry:8081

volumes:
    events_data:
    venue_data:
    user_data: